.section__title {
    position: relative;
    margin-top: 92px;
}

.section__title h2 {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 8px;
    background-color: wheat;
    font-size: 48px;
}